body {
  background: url('./images/pokemonBG.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main {
  width: 900px;
  background: rgb(255, 251, 226);
  height: 100%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ebebeb;
  padding: 15px;


  a {
    font-size: 40px;
    font-weight: bold;
  }

  a:hover {
    color: rgb(69, 189, 183);
    cursor: pointer;
  }
}
