.pokemonRepeater {
  width: 98%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;

  .pokemon {
    width: 32%;
    height: 240px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 150px;
      height: 150px;
    }
    h2 {
      font-size: 25px;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      text-transform: capitalize;
    }

    .types {
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-around;
    }
  }
}
